{% if media == 'html' %}
<h1>{{ _("Complex message") }}</h1>
<p>Lorem ipsum dolor sit amet</p>
<p>
    {{ _("First message") }}: {{ message }}
    <br>
    {{ _("Second message") }}: {{ message2 }}
</p>
{% else %}
[{{ _("Complex message") }}]
{{ _("First message") }}: {{message}}
{{ _("Second message") }}: {{ message2 }}
{% endif %}
