{% if media == 'html' %}
<h3>{{ _("Simple message") }}</h3>
<p>
    {{ _("HTML rendered message") }}: {{ message }}
</p>
{% else %}
= {{ _("Simple message") }} =
{{ _("Message") }}: {{message}}
{% endif %}
